@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
nav{
    position: relative;
    
    
   
}
.nav-2{
    position: absolute;
    top: 50px;
    width: 30%;
    padding-left: 30px;
}
.nav-3{
    color: #02918c;
}
.nav-4{
    color: #878b8f;
    font-size: ;
}
.nav-5{
    color: #999c9d;
}
#nam{
    display: flex;
    color: #7e8287;
    margin-top: 0.861in;
 
   

    
}


